<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LocalPath" value="C:/temp/Delta Analytics/DEEPER"/>
		<add key="FilePrepend" value="DeltaTraining_SessionData"/>
		<add key="DayInterval" value="14"/>
		<!--// TODO: Uncomment ExcludeFuturusData when implemented-->
		<!--<add key="ExcludeFuturusData" value="true"/>-->
	</appSettings>
</configuration>